<button (click)="getCodigo()">CLICK</button>
<div id="blocklyDiv" style="height: 350px;"></div>
      <xml id="toolbox" style="display: none">
        <category name="Sentencias" colour="360">
            <block type="commit"></block>
            <block type="select"></block>
            <block type="delete"></block>
            <block type="insert"></block>
            <block type="insert_esp"></block>
        </category>
        <category name="Atributos" colour="120">
          <block type="controls_if"></block>
          <block type="controls_repeat_ext" disabled="true"></block>
        </category>
        <category name="Operadores" colour="230">
          <block type="rel"></block>
          <block type="logico"></block>
          <block type="arit"></block>
        </category>
        <category name="Valores" colour="230">
            <block type="valor"></block>
            <block type="valor_insert"></block>
          </category>  
      </xml>
