<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <mat-icon>lock</mat-icon>
    </div>

    <!-- Login Form -->
    <form>
      <input #user type="text" id="login" class="fadeIn second" name="login" placeholder="Usuario">
      <input #pwd type="text" id="password" class="fadeIn third" name="login" placeholder="Contraseña">
      <input #nivel type="text" id="nivel" class="fadeIn third" name="login" placeholder="Nivel" list="niveles">
        <datalist id="niveles">
          <option value="Principiante">
          <option value="Intermedio">
          <option value="Avanzado">
      </datalist>
      <input type="submit" class="fadeIn fourth" value="Log In" (click)="login(user.value, pwd.value, nivel.value, $event)">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>
